/*
 * Copyright © 2022  Alex
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

/* --------------------- GLOBAL VARIABLES ---------------------*/

:root {
	--bar-height: 30px;
	--pawn-gold: #EDA200;
	--pawn-red: #FD0000;
}

/* --------------------- BASIC ELEMENTS ---------------------*/

body {
	color: #AAAAAA;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 0 0 0 0;
	background: #000000 url(https://pawngame.com/static/website/landing/image/bg_main.gif) repeat-x top;
}

a:link {
	font-weight: bold;
	color: var(--pawn-gold);
	text-decoration: none;
}

a:visited {
	font-weight: bold;
	color: var(--pawn-gold);
	text-decoration: none;
}

a:hover, a:active {
	color: var(--pawn-red);
}

/* --------------------- HEADER ---------------------*/

h1#logo {
	background: url(https://pawngame.com/static/website/landing/image/logo_pawngame.gif) no-repeat left top;
	float: left;
	width: 305px;
	height: 85px;
	padding: 0;
	margin: 25px 0 10px 0;
	display: inline;
}
h1#logo span {display:none;}

/* --------------------- CONTENT ---------------------*/

#maincontent {
	background: #2A2A2A;
	border-left: 1px solid #424242;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #424242;
	border-right: 1px solid #424242;
}

#maincontent p {
	padding: 0 15px 5px 15px;
	font-size: .9em;
	line-height: 1.9em;
	margin: 0 0 10px 0;
}

#maincontent h2 {
	font-size: 17px;
	line-height: 25px;
	color: #D40D0D;
	border-bottom: 1px dashed #D40D0D;
	display: block;
	margin: 8px 15px 8px 15px;
	font-weight: bold;
}

#maincontent h3 {
	padding: 0 0 0 0;
	font-size: .9em;
	margin: 0 0 0 0;
}

.gamethumbnails a:link img {
	border: 2px solid var(--pawn-gold);
}

.gamethumbnails a:visited img {
	border: 2px solid var(--pawn-gold);
}

.gamethumbnails a:hover img, .gamethumbnails a:active img {
	border: 2px solid var(--pawn-red);
}

#controls {
	margin: 5px auto 5px auto;
	width: 800px;
        background: #2A2A2A;
        border: 1px solid #424242;
}

th {
	color: var(--pawn-gold);
	text-align: left;
}

/* --------------------- SIDE BOXES ---------------------*/

.boxheader {
	background: url(https://pawngame.com/static/website/landing/image/sideheader_bg.gif) no-repeat;
	height: 25px;
	padding: 0px 0 0 10px;
}

.boxcontent {
	background: #2A2A2A url(https://pawngame.com/static/website/landing/image/sidebox_bg.gif) repeat-x bottom;
	font-size: 11px;
}

.boxcontent p {
	padding: 5px 10px 10px 10px;
	margin: 0;
}

.sidebox {
	margin-bottom: 15px;
	margin-right: 2px;
	border-top: 1px solid #5F5F5F;
	border-left: 1px solid #4C4C4C;
	border-bottom: 1px solid #303030;
	text-align: left;
}

.sidebox h2 {
	font-size: 11px;
	font-weight: bold;
	color: var(--pawn-gold);
	margin: 0;
	padding: 0;
}

.sidebox h3 {
	font-size: 11px;
	color: #AAAAAA;
	margin: 0;
	padding: 5px 10px 0 10px;
	font-weight: normal;
}

/* --------------------- NAV BAR - TOP ---------------------*/

#topnav {
	background: url(https://pawngame.com/static/website/landing/image/navtop_bg.gif);
	height: var(--bar-height);
	border-right: 1px solid #424242;
}

#topnav ul {
	margin: 0;
	padding: 0;
	height: var(--bar-height);
}

#topnav ul li {
	float: right;
	height: var(--bar-height);
	list-style: none;
	display: inline;
	background: url(https://pawngame.com/static/website/landing/image/topnav_div.gif) no-repeat;
}

#topnav a, #topnav a:visited {
	display: block;
	padding: 7px 10px 0px 15px;
	font-size: 14px;
	font-weight: bold;
	color: var(--pawn-gold);
}

#topnav a:hover {
	color: var(--pawn-red);
}

.main-feature {
	color: var(--pawn-gold);
}

/* --------------------- NAV BAR POPUP - TOP ---------------------*/

#topnavpopup {
	background: url(https://pawngame.com/static/website/landing/image/navtop_bg.gif);
	height: var(--bar-height);
	border-right: 1px solid #424242;
	border-left: 1px solid #424242;
}


/* --------------------- FOOTER ---------------------*/

#footer {
	font-size: .7em;
	margin-top: 10px;
}

#footer p {
	padding-right: 30px;
	margin: 0;
}

#footer-bar {
	width: 850px;
	height: var(--bar-height);
	background-image: url("https://pawngame.com/static/website/landing/image/bottombar_bg.gif");
	text-align: right;
	vertical-align: middle;
	display: table-cell;
}


/* --------------------- INPUT ---------------------*/

input, select {
  font-size: 11px;
}
input:focus, textarea:focus, select:focus {
  background-color: #CCCCCC;
}
textarea {
  font-size: 11px;
  padding: 1.2px;
  margin: 1px;
  border: 1px solid #999;
  background-color: #AAAAAA;
}
select {
  background-color: #CCCCCC;
}
.textbox {
  background-color: #AAAAAA;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #888888;
  border-style: solid solid solid solid;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.button {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  border: 1px solid #999;
  background-color: #ccc;
}